@import "./mixins.scss";

// row  组件
.z-row {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  .z-col {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    float: left;
  }
}

.z-row-flex {
  display: flex;
}
.z-justify-start {
  justify-content: start;
}

.z-justify-center {
  justify-content: center;
}

.z-justify-end {
  justify-content: end;
}

.z-justify-space-around {
  justify-content: space-around;
}

.z-justify-space-between {
  justify-content: space-between;
}

.z-align-top {
  align-items: flex-start;
}

.z-align-center {
  align-items: center;
}

.z-align-end {
  align-items: flex-end;
}
