@import "./font.scss";

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.chart-wrapper {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
p,
h3 {
  margin: 0;
  padding: 0;
}
